{% extends 'base.html' %}

{% block content %}

<!--Order Delivery-->
<div class="container p-4" style="padding-left: 50px;">
    <br>
    <h2 class="font-weight-bold mt-3" style="text-align: center;">Выберите вариант доставки:</h2>
    <form method="post" action="/cart/order/delivery">
        {% csrf_token %}
        <p>Вариант доставки - {{ delivery_form.title }}</p>
        <p>Город - {{ delivery_form.city }}</p>
        <p>Адрес - {{ delivery_form.address }}</p>
      <button class="btn btn-primary" style="border: solid 1px grey;">Следующий шаг</button>
    </form>
</div>

{% endblock %}