{% extends 'base.html' %}

{% block content %}

<!--Order Full name-->
<div class="container p-4" style="padding-left: 50px;">
    <br>
    <h2 class="font-weight-bold mt-3" style="text-align: center;">Введите данные:</h2>
    <form method="post">
        {% csrf_token %}
        <br>
        <p>Username - {{ user_form.username }}</p>
        <br>
        <p>Имя - {{ user_form.first_name }}</p>
        <br>
        <p>Фамилия - {{ user_form.last_name }}</p>
        <br>
        <p>Email {{ user_form.email }}</p>
        <br>
        <p>Номер телефона {{ profile_form.phone_number }}</p>

        {% if not request.user.is_authenticated %}
        <p>Пароль {{ user_form.password_1 }}</p>
        <br>
        <p>Подтверждение пароля {{ user_form.password_2 }}</p>
        <br>
        <p><a href="{% url 'login' %}">Я уже зарегистрирован</a></p>
        {% endif %}

        <button class="btn btn-primary" style="border: solid 1px grey;">Следующий шаг</button>
    </form>
</div>

{% endblock %}

<!--{% url 'order_delivery' %}-->
