{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="#">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Прогресс заполнения
              </strong>
            </header>
            <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ доставки</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a>
                </li>
                <li class="menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <form class="form" action="#" method="post">
            {% csrf_token %}
            <div class="Order-block Order-block_OPEN" id="step1">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 1. Параметры пользователя
                </h2>
              </header>
              <div class="row">
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="name">ФИО
                    </label>
                    <input class="form-input" id="name" name="name" type="text" value="{{ profile.fullname }}" onkeyup="myFunctionCopyFullname()" data-validate="require"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="phone">Телефон
                    </label>
                    <input class="form-input" id="phone" name="phone" type="text" value="{{ profile.phone_number }}" onkeyup="myFunctionCopyPhoneNumber()" data-validate="require"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="mail">E-mail
                    </label>
                    <input class="form-input" id="mail" name="mail" type="text" value="{{ user.email }}" onkeyup="myFunctionCopyEmail()" data-validate="require"/>
                  </div>
                </div>
                <div class="row-block">
                  <div class="form-group">
                    <label class="form-label" for="password">Пароль
                    </label>
                    <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="passwordReply">Подтверждение пароля
                    </label>
                    <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>
                  </div>
                  {% if not request.user.is_authenticated %}
                  <div class="form-group"><a class="btn btn_muted Order-btnReg" href="#">Я уже зарегистрирован</a>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step2">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 2. Способ доставки
                </h2>
              </header>
              <div class="form-group">
                <div>
                  <label class="toggle">
                    <input id="delivery_ordinary" type="radio" name="delivery" value="ordinary" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Обычная доставка</span>
                  </label>
                </div>
                <div>
                  <label class="toggle">
                    <input id="delivery_express" type="radio" name="delivery" value="express"/><span class="toggle-box"></span><span class="toggle-text">Экспресс доставка</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="city">Город
                </label>
                <input class="form-input" id="city" name="city" type="text" onkeyup="myFunctionCopyCity()" data-validate="require">
              </div>
              <div class="form-group">
                <label class="form-label" for="address">Адрес
                </label>
                <textarea class="form-textarea" name="address" id="address" onkeyup="myFunctionCopyAddress()" data-validate="require"></textarea>
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step3">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 3. Способ оплаты
                </h2>
              </header>
              <div class="form-group">
                <div>
                  <label class="toggle">
                    <input id="pay_online" type="radio" name="pay" value="online" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Онлайн картой</span>
                  </label>
                </div>
                <div>
                  <label class="toggle">
                    <input id="pay_someone" type="radio" name="pay" value="someone"/><span class="toggle-box"></span><span class="toggle-text">Онлайн со случайного чужого счета</span>
                  </label>
                </div>
              </div>
              <div class="Order-footer"><a class="btn btn_success Order-next" href="#step4">Дальше</a>
              </div>
            </div>
            <div class="Order-block" id="step4">
              <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                </h2>
              </header>
              <!--+div.Order.-confirmation-->
              <div class="Order-infoBlock">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <div class="Order-info">
                        <div class="Order-infoType">ФИО:
                        </div>
                        <div id="name_info" class="Order-infoContent">{{ profile.fullname }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Телефон:
                        </div>
                        <div id="phone_info" class="Order-infoContent">{{ profile.phone_number }}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">E-mail:
                        </div>
                        <div id="mail_info" class="Order-infoContent">{{ user.email }}
                        </div>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">Тип доставки:
                        </div>
                        <div id="delivery_info" class="Order-infoContent">Обычная доставка
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Город:
                        </div>
                        <div id="city_info" class="Order-infoContent">
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">Адрес:
                        </div>
                        <div id="address_info" class="Order-infoContent">
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">Оплата:
                        </div>
                        <div id="pay_info" class="Order-infoContent">Онлайн картой
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Cart Cart_order">
                {{ cart.product }}
                  {% for product in cart %}
                  <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_pict">
                        <a class="Cart-pict" href="{% url 'product_detail' product.product.slug %}">
                          {% for image in product.product.product_images.all %}
                            <img class="Cart-img" src="{{ image.main_image.url }}" alt=""/>
                          {% endfor %}
                        </a>
                      </div>
                      <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'product_detail' product.product.slug %}">{{ product.product.name }}</a>
                        <div class="Cart-desc">{{ product.product.description }}
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_price">
                        {% if product.price != product.price_discount|floatformat:2 %}
                          <div class="Cart-price_old">{{ product.price }}$
                          </div>
                          <div class="Cart-price">{{ product.price_discount|floatformat:2 }}$
                          </div>
                        {% else %}
                          <div class="Cart-price">{{ product.price }}$
                          </div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                      <div class="Cart-block Cart-block_seller">
                        <div>Продавец:
                        </div>
                        <div>{{ product.shop }}
                        </div>
                      </div>
                      <div class="Cart-block Cart-block_amount">{{ product.quantity }} шт.
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">Итого:
                      </strong><span class="Cart-price">{{ cart.total_sum_with_discount|floatformat:2 }}</span><span class="Cart-price_old">{{ cart.total_sum|floatformat:2 }}</span>
                    </div>
                    <div class="Cart-block">
                      <button class="btn btn_primary btn_lg" type="submit">Оплатить
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block my_scripts %}
<script>
  const delivery_ordinary = document.getElementById("delivery_ordinary");
  const delivery_express = document.getElementById("delivery_express");

  delivery_ordinary.addEventListener('click', function () {
    document.getElementById("delivery_info").innerHTML = "Обычная доставка"
  });
  delivery_express.addEventListener('click', function () {
    document.getElementById("delivery_info").innerHTML = "Экспресс доставка"
  });

  const input_pay_online = document.getElementById("pay_online");
  const input_pay_someone = document.getElementById("pay_someone");

  input_pay_online.addEventListener('click', function () {
    document.getElementById("pay_info").innerHTML = "Онлайн картой"
  });
  input_pay_someone.addEventListener('click', function () {
    document.getElementById("pay_info").innerHTML = "Онлайн со случайного чужого счета"
  });

  function myFunctionCopyFullname(){document.getElementById("name_info").innerHTML = document.getElementById("name").value;
  }
  function myFunctionCopyPhoneNumber(){document.getElementById("phone_info").innerHTML = document.getElementById("phone").value;
  }
  function myFunctionCopyEmail(){document.getElementById("mail_info").innerHTML = document.getElementById("mail").value;
  }
  function myFunctionCopyCity() {
      document.getElementById("city_info").innerHTML = document.getElementById("city").value;
  }
  function myFunctionCopyAddress() {
      document.getElementById("address_info").innerHTML = document.getElementById("address").value;
  }
</script>
{% endblock %}
