{% extends 'base.html' %}

{% block content %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Сравнение товаров
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'home' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Сравнение товаров</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% if not not_enough_data %}

      <div class="Section">
        <div class="wrap">
          <div class="Compare">
            <div class="Compare-header">
              <label class="toggle Compare-checkDifferent">
                <input type="checkbox" name="differentFeature" value="true" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Только различающиеся характеристики</span>
              </label>
            </div>

            <div class="Compare-row">
              <div class="Compare-title Compare-title_blank">
              </div>
              <div class="Compare-products">
                {% for product in compared_products %}
                  <div class="Compare-product">
                    <div class="Compare-nameProduct Compare-nameProduct_main">{{ product.name }}
                    </div>
                    <div class="Compare-feature"><img height="200" src="{{ product.product_images.main_image.url }}"/>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="Compare-row">
              <div class="Compare-title Compare-title_blank">
              </div>
              <div class="Compare-products">
                  {% for product in compared_products %}
                    <div class="Compare-product">
                      <div class="Compare-feature">
                        <div style="margin-right: 10px;">
                          <a class="Compare-btn" href="#"><img src="/static/assets/img/icons/card/cart.svg" alt="cart.svg"/></a>
                        </div>
                        <form action="{% url 'delete_from_comparison' product.id %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="Compare-btn">
                            <img src="/static/assets/img/icons/card/delete.svg" alt="delete.svg"/>
                          </button>
                        </form>
                      </div>
                    </div>
                  {% endfor %}
              </div>
            </div>

            {% if not can_compare %}

              <center>
                <div style='margin: 100px 100px;'><font size="+2">Вы пытаетесь сравнить товары, не имеющие ни одной общей характеристики!</font></div>
              </center>

            {% else %}

              {% for spec, values in diff_specs.items %}
                <div class="Compare-row">
                  <div class="Compare-title">{{ spec }}
                  </div>
                  <div class="Compare-products">
                    {% for cur_spec in values %}
                      <div class="Compare-product">
                        <div class="Compare-feature">
                          {% if spec == "rating" %}
                            <div class="Rating">
                                <div class="Rating-stars">
                                   {% for i in '12345' %}
                                      {% if i <= cur_spec|floatformat:0 %}
                                        <span class="Rating-star Rating-star_view">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                            <g>
                                              <g>
                                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                              </g>
                                            </g>
                                          </svg>
                                        </span>
                                      {% else %}
                                        <span class="Rating-star">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                            <g>
                                              <g>
                                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                              </g>
                                            </g>
                                          </svg>
                                        </span>
                                      {% endif %}
                                   {% endfor %}
                                </div>
                                <div class="Rating-title">
                                </div>
                            </div>
                          {% else %}
                            {{ cur_spec }}
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}

              {% for spec, values in same_specs.items %}
                <div class="Compare-row Compare-row_hide">
                  <div class="Compare-title">{{ spec }}
                  </div>
                  <div class="Compare-products">
                    {% for cur_spec in values %}
                      <div class="Compare-product">
                        <div class="Compare-feature">{{ cur_spec }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}

            {% endif %}

            <div class="Compare-row">
              <div class="Compare-title">Цена
              </div>
              <div class="Compare-products">
                {% for product in compared_products %}
                  <div class="Compare-product">
                    <div class="Compare-feature">
                      <strong class="Compare-price">${{ product.get_avg_price }}
                      </strong>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    {% else %}
      <center>
        <b>Недостаточно данных для сравнения</b>
      </center>
    {% endif %}
  </div>

{% endblock %}
