{% extends 'base.html' %}

{% block content %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Сравнение товаров
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'home' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Сравнение товаров</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% if not not_enough_data %}

      <div class="Section">
        <div class="wrap">
          <div class="Compare">
            <div class="Compare-header">
              <label class="toggle Compare-checkDifferent">
                <input type="checkbox" name="differentFeature" value="true" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Только различающиеся характеристики</span>
              </label>
            </div>

            <div class="Compare-row">
              <div class="Compare-title Compare-title_blank">
              </div>
              <div class="Compare-products">
                {% for product in compared_products %}
                  <div class="Compare-product">
                    <div class="Compare-nameProduct Compare-nameProduct_main">{{ product.name }}
                    </div>
                    <div class="Compare-feature"><img src="{{ product.product_images.main_image.url }}"/>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="Compare-row">
              <div class="Compare-title Compare-title_blank">
              </div>
              <div class="Compare-products">
                  {% for product in compared_products %}
                    <div class="Compare-product">
                      <div class="Compare-feature"><a class="Compare-btn" href="#"><img src="/static/assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Compare-btn" href="#"><img src="/static/assets/img/icons/card/delete.svg" alt="delete.svg"/></a>
                      </div>
                    </div>
                  {% endfor %}
              </div>
            </div>

            {% for spec, values in diff_specs.items %}
              <div class="Compare-row">
                <div class="Compare-title">{{ spec }}
                </div>
                <div class="Compare-products">
                  {% for cur_spec in values %}
                    <div class="Compare-product">
                      <div class="Compare-feature">{{ cur_spec }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}

            {% for spec, values in same_specs.items %}
              <div class="Compare-row Compare-row_hide">
                <div class="Compare-title">{{ spec }}
                </div>
                <div class="Compare-products">
                  {% for cur_spec in values %}
                    <div class="Compare-product">
                      <div class="Compare-feature">{{ cur_spec }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}

            <div class="Compare-row">
              <div class="Compare-title">Цена
              </div>
              <div class="Compare-products">
                {% for product in compared_products %}
                  <div class="Compare-product">
                    <div class="Compare-feature">
                      <strong class="Compare-price">${{ product.get_avg_price }}
                      </strong>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

    {% else %}
      <center>
        <b>Недостаточно данных для сравнения</b>
      </center>
    {% endif %}
  </div>

{% endblock %}
