{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Личный кабинет
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'home' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Личный кабинет</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Навигация
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'account' %}">Личный кабинет</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'profile' %}">Профиль</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'orderhistory' %}">История заказов</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'viewhistory' %}">История просмотра</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Account">
            <div class="Account-group">
              <div class="Account-column">
                <div class="Account-avatar"><img src="../media/{{ avatar }}"/>
                </div>
              </div>
              <div class="Account-column">
                <div class="Account-name">{{ full_name }}
                </div><a class="Account-editLink" href="{% url 'profile' %}">Редактировать профиль</a>
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                {% if order %}
                    <div class="Order Order_anons">
                      <div class="Order-personal">
                        <div class="row">
                          <div class="row-block"><a class="Order-title" href="{% url 'order_detail' order.id %}">Заказ&#32;<span class="Order-numberOrder">№{{ order.id }}</span>&#32;от&#32;<span class="Order-dateOrder">{{ order.date_order }}</span></a>
                            <div class="Account-editLink"><a href="{% url 'orderhistory' %}">История заказов</a></div>
                          </div>
                          <div class="row-block">
                            <div class="Order-info Order-info_delivery">
                              <div class="Order-infoType">Тип доставки:
                              </div>
                              <div class="Order-infoContent">{{ order.delivery.get_title_display }}
                              </div>
                            </div>
                            <div class="Order-info Order-info_pay">
                              <div class="Order-infoType">Оплата:
                              </div>
                              <div class="Order-infoContent">{{ order.pay_method.get_title_display }}
                              </div>
                            </div>
                            <div class="Order-info">
                              <div class="Order-infoType">Общая стоимость:
                              </div>
                              <div class="Order-infoContent"><span class="Order-price">{{ order.get_total_cost_with_discount }}$</span>
                              </div>
                            </div>
                            <div class="Order-info Order-info_status">
                              <div class="Order-infoType">Статус:
                              </div>
                              {% if order.status_pay %}
                                <div class="Order-infoContent">Оплачен</div>
                              {% else %}
                                <div class="Order-infoContent">Не оплачен</div>
                              {% endif %}
                            </div>
                            {% if not order.status_pay and order.payment_error %}
                              <div class="Order-info Order-info_error">
                                <div class="Order-infoType">Оплата не прошла:
                                </div>
                                <div class="Order-infoContent">Оплата не выполнена, т.к. {{ order.payment_error }}
                                </div>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                {% else %}
                  <p> У вас нет заказов </p>
                {% endif %}
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <header class="Section-header">
                  <h2 class="Section-title">История просмотров
                  </h2>
                </header>
                {% if recent_views %}
                  <div class="Cards">
                    {% for product in recent_views %}
                      <div class="Card">
                        <a class="Card-picture" href="{% url 'product_detail' product.product.slug %}">
                          {% for image in product.product.product_images.all %}
                            <img src="{{ image.main_image.url }}"/>
                          {% endfor %}
                        </a>
                        <div class="Card-content">
                          <strong class="Card-title"><a href="{% url 'product_detail' product.product.slug %}">{{ product.product.name }}</a>
                          </strong>
                          <div class="Card-description">
                            {% if product.get_discounted_price != product.price %}
                              <div class="Card-cost"><span class="Card-price">${{ product.get_discounted_price }}</span> <span class="Card-priceOld">${{ product.price }}</span>
                              </div>
                            {% else %}
                              <div class="Card-cost"><span class="Card-price">${{ product.get_discounted_price }}</span>
                              </div>
                            {% endif %}
                            {% if product.product.category.first.parent_category is null %}
                              <div class="Card-category"> {{ product.product.category.first.name }}
                              </div>
                            {% else %}
                              <div class="Card-category"> {{ product.product.category.first.parent_category.name }} / {{ product.product.category.first.name }}
                              </div>
                            {% endif %}
                            <div class="Card-hover"><a class="Card-btn" href="{% url 'product_detail' product.product.slug %}"><img src="../static/assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="../static/assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="../static/assets/img/icons/card/change.svg" alt="change.svg"/></a>
                            </div>
                          </div>
                        </div>
                        {% if product.product.discount.discount_value > 0 %}
                          <div class="Card-sale">-{{ product.product.discount.discount_value }}%
                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                {% else %}
                  <p> У вас нет просмотренных товаров </p>
                {% endif %}
                <div class="Account-editLink Account-editLink_view"><a href="{% url 'viewhistory' %}">Перейти на полный список</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}