{% extends 'base.html' %}
{% load i18n %}
{% block content %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Personal account' %}
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'home' %}">{% trans 'home' %}</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Personal account' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% trans 'Navigation' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'account' %}">{% trans 'Personal account' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'orderhistory' %}">{% trans 'Order history' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'viewhistory' %}">{% trans 'View history' %}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Account">
            <div class="Account-group">
              <div class="Account-column">
                <div class="Account-avatar"><img src="../media/{{ avatar }}"/>
                </div>
              </div>
              <div class="Account-column">
                <div class="Account-name">{{ full_name }}
                </div><a class="Account-editLink" href="{% url 'profile' %}">{% trans 'Edit profile' %}</a>
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                {% if order %}
                    <div class="Order Order_anons">
                      <div class="Order-personal">
                        <div class="row">
                          <div class="row-block"><a class="Order-title" href="{% url 'order_detail' order.id %}">{% trans 'Order' %}&#32;<span class="Order-numberOrder">№{{ order.id }}</span>&#32;от&#32;<span class="Order-dateOrder">{{ order.date_order }}</span></a>
                            <div class="Account-editLink"><a href="{% url 'orderhistory' %}">{% trans 'Order history' %}</a></div>
                          </div>
                          <div class="row-block">
                            <div class="Order-info Order-info_delivery">
                              <div class="Order-infoType">{% trans 'Delivery type' %}:
                              </div>
                              <div class="Order-infoContent">{{ order.delivery.get_title_display }}
                              </div>
                            </div>
                            <div class="Order-info Order-info_pay">
                              <div class="Order-infoType">{% trans 'Payment' %}:
                              </div>
                              <div class="Order-infoContent">{{ order.pay_method.get_title_display }}
                              </div>
                            </div>
                            <div class="Order-info">
                              <div class="Order-infoType">{% trans 'Total cost' %}:
                              </div>
                              <div class="Order-infoContent"><span class="Order-price">{{ order.get_total_cost_with_discount }}$</span>
                              </div>
                            </div>
                            <div class="Order-info Order-info_status">
                              <div class="Order-infoType">{% trans 'Status' %}:
                              </div>
                              {% if order.status_pay %}
                                <div class="Order-infoContent">{% trans 'Paid' %}</div>
                              {% else %}
                                <div class="Order-infoContent">{% trans 'Not paid' %}</div>
                              {% endif %}
                            </div>
                            {% if not order.status_pay and order.payment_error %}
                              <div class="Order-info Order-info_error">
                                <div class="Order-infoType">{% trans 'Payment failed' %}:
                                </div>
                                <div class="Order-infoContent">{% trans 'The payment was not completed because' %} {{ order.payment_error }}
                                </div>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                {% else %}
                  <p> {% trans "You don't have any orders" %} </p>
                {% endif %}
              </div>
            </div>
            <div class="Account-group">
              <div class="Account-column Account-column_full">
                <header class="Section-header">
                  <h2 class="Section-title">{% trans 'View history' %}
                  </h2>
                </header>
                {% if recent_views %}
                  <div class="Cards">
                    {% for product in recent_views %}
                      <div class="Card">
                        <a class="Card-picture" href="{% url 'product_detail' product.shop_product.product.slug %}">
                          {% for image in product.shop_product.product.product_images.all %}
                            <img src="{{ image.main_image.url }}"/>
                          {% endfor %}
                        </a>
                        <div class="Card-content">
                          <strong class="Card-title"><a href="{% url 'product_detail' product.shop_product.product.slug %}">{{ product.shop_product.product.name }}</a>
                          </strong>
                          <div class="Card-description">
                            {% if product.shop_product.get_discounted_price != product.shop_product.price %}
                              <div class="Card-cost"><span class="Card-price">${{ product.shop_product.get_discounted_price }}</span> <span class="Card-priceOld">${{ product.shop_product.price }}</span>
                              </div>
                            {% else %}
                              <div class="Card-cost"><span class="Card-price">${{ product.shop_product.price }}</span>
                              </div>
                            {% endif %}
                            {% if product.shop_product.product.category.first.parent_category is null %}
                              <div class="Card-category"> {{ product.shop_product.product.category.first.name }}
                              </div>
                            {% else %}
                              <div class="Card-category"> {{ product.shop_product.product.category.first.parent_category.name }} / {{ product.shop_product.product.category.first.name }}
                              </div>
                            {% endif %}
                            <div class="Card-hover"><a class="Card-btn" href="{% url 'product_detail' product.shop_product.product.slug %}"><img src="../static/assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="../static/assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="../static/assets/img/icons/card/change.svg" alt="change.svg"/></a>
                            </div>
                          </div>
                        </div>
                        {% if product.shop_product.product.discount.discount_value > 0 %}
                          <div class="Card-sale">-{{ product.shop_product.product.discount.discount_value }}%
                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                {% else %}
                  <p> {% trans "You don't have any viewed products" %} </p>
                {% endif %}
                <div class="Account-editLink Account-editLink_view"><a href="{% url 'viewhistory' %}">{% trans 'Go to the full list' %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
