{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">{% trans 'Cart' %}
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">{% trans 'home' %}</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Cart' %}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="Section">
            <div class="wrap">
            {% if cart_items %}
            {% for item in cart_items %}
            {% with product=item.product %}
{#                     <form class="form Cart" action="" method="">#}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict">
                                {% if product.product_images.main_image %}
                                <a class="Cart-pict" href="{{ product.get_absolute_url }}">
                                <img class="Cart-img" src="{{ product.product_images.main_image.url }}" alt="card.jpg"/></a>
                                {% else %}
                                <a class="Cart-pict" href="{{ product.get_absolute_url }}">
                                    <img class="Cart-img" src="{% static 'assets/img/content/sale/product.png' %}" alt="product.png"/></a>
                                {% endif %}
                            </div>
                            <div class="Cart-block Cart-block_info">
                                <a class="Cart-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                <div class="Cart-desc">{{ product.description | truncatechars:100 }}
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_row">
                                <div  style="min-width: 200px" class="Cart-block Cart-block_price">
                                    {% if item.old_price > item.price %}
                                    <div class="Cart-price_old">{{ item.old_price }}</div>
                                    {% endif %}
                                    <div style="font-size: 16px" class="Cart-price">{{ item.price }} {% trans 'rub' %}.
                                    </div>
                                </div>
                                <div class="input-group">
                                    {{ item.shop }}
                                    <form class="form-select" style= "display: flex" action="{% url 'cart_update_price' item.id %}" method="post">
                                        {% csrf_token %}
                                        {{ item.shops_form }}
                                        <span style="align: center">
                                            <input type='submit' value='{% trans 'Update' %}'>
                                        </span>
                                    </form>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_amount">
                                <div class="Cart-amount">
                                    <div class="Amount">
                                        <form class="form-select" action="{% url 'cart_update_quantity' item.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.item_id }}
                                            <input type="submit" value="{% trans 'Update' %}">
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_delete">
                                <a class="Cart-delete" href="{% url 'cart_remove' item.id %}">
                                    <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                            </div>
                        </div>
                    </div>
{#                     </form>#}
            {% endwith %}
            {% endfor %}
                    <div class="Cart-total">
    <div class="Cart-block Cart-block_total">
        <strong class="Cart-title">{% trans 'Total' %}:
        </strong><span class="Cart-price">{{ total_cost }}</span><span
            class="Cart-price_old">{{ old_total_cost }}</span>
    </div>
    <div class="Cart-block"><a class="btn btn_success btn_lg" href="order">{% trans 'Checkout' %}</a>
    </div>
</div>
            {% else %}
            {% include 'empty_category.html' %}
            {% endif %}
                </div>
        </div>
    </div>
{% endblock %}