{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Корзина
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% for item in cart_items %}
            {% with product=item.product %}
                {% for image in product.product_images.all %}
                    <div class="Section">
                    <div class="wrap">
{#                     <form class="form Cart" action="" method="">#}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict">
                                <a class="Cart-pict" href="{{ product.get_absolute_url }}">
                                <img class="Cart-img" src="{{ image.main_image.url }}" alt="card.jpg"/></a>
                            </div>
                            <div class="Cart-block Cart-block_info">
                                <a class="Cart-title" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                <div class="Cart-desc">{{ product.description }}
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_price">
                                    <div class="Cart-price">{{ item.price }} руб.
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_seller">
                                    <form class="form-select" action="{% url 'cart_update_price' item.id %}" method="post">
                                    {% csrf_token %}
                                       {{ item.shops_form }}
                                        <input type='submit' value='Обновить'>
                                    </form>
                                    <div class="Cart-price">{{ item.shop }}
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_amount">
                                <div class="Cart-amount">
                                    <div class="Amount">
                                        <form class="form-select" action="{% url 'cart_update_quantity' item.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.item_id }}
                                            <input type="submit" value="Обновить">
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_delete">
                                <a class="Cart-delete" href="{% url 'cart_remove' item.id %}">
                                    <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                            </div>
                        </div>
                    </div>
                    </div>
{#                     </form>#}
                {% endfor %}
            {% endwith %}
        {% endfor %}
        <div class="Cart-total">
            <div class="Cart-block Cart-block_total">
                <strong class="Cart-title">Итого:
                </strong><span class="Cart-price">{{ total_cost }}</span><span
                    class="Cart-price_old">250.99$</span>
            </div>
            <div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'order' %}">Оформить заказ</a>
            </div>
        </div>
        </div>
        </div>
    </div>

{% endblock %}