{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="Site">
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="index.html">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Catalog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Filter
              </strong>
            </header>
            <div class="Section-columnContent">
              <form class="form" action="#" method="post">
                <div class="form-group">
                  <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double" data-min="7" data-max="50" data-from="7" data-to="27"/>
                    <div class="range-price">Price:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="title" name="title" type="text" placeholder="Название"/>
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                  <select class="form-select">
                    <option value="seller" selected="selected" disabled="disabled">Продавец
                    </option>
                    <option value="kkk">Kkkk
                    </option>
                    <option value="sdfsdf">sdfsdf
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox"/><span class="toggle-box"></span><span class="toggle-text">Только товары в наличии</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    <input type="checkbox"/><span class="toggle-box"></span><span class="toggle-text">С бесплатной доставкой</span>
                  </label>
                </div>
                <div class="form-group">
                  <div class="buttons"><a class="btn btn_square btn_dark btn_narrow" href="#">Filter</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Popular tags
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="buttons"><a class="btn btn_default btn_sm" href="#">Video</a><a class="btn btn_default btn_sm" href="#">Development</a><a class="btn btn_default btn_sm" href="#">Gaming</a><a class="btn btn_default btn_sm" href="#">Asus</a><a class="btn btn_default btn_sm" href="#">Development</a><a class="btn btn_default btn_sm" href="#">Video</a>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Sort"> {# сортировка #}
            <div class="Sort-title">Сортировать по:
            </div>
            <div class="Sort-variants"> {# виды сортировки #}
                <a
                {% if request.GET.sort == 'popularity' and request.GET.type == 'ascending' %} class="Sort-sortBy Sort-sortBy_inc" href="?sort=popularity&type=descending"
                {% elif request.GET.sort == 'popularity' and request.GET.type == 'descending' %} class="Sort-sortBy Sort-sortBy_dec" href="?sort=popularity&type=ascending"
                {% else %} class="Sort-sortBy" href="?sort=popularity&type=ascending"{% endif %}>
                Популярности
                </a>
                <a
                {% if request.GET.sort == 'price' and request.GET.type == 'ascending' %} class="Sort-sortBy Sort-sortBy_inc" href="?sort=price&type=descending"
                {% elif request.GET.sort == 'price' and request.GET.type == 'descending' %} class="Sort-sortBy Sort-sortBy_dec" href="?sort=price&type=ascending"
                {% else %} class="Sort-sortBy" href="?sort=price&type=ascending"{% endif %}>
                Цене
                </a>
                <a
                {% if request.GET.sort == 'reviews' and request.GET.type == 'ascending' %} class="Sort-sortBy Sort-sortBy_inc" href="?sort=reviews&type=descending"
                {% elif request.GET.sort == 'reviews' and request.GET.type == 'descending' %} class="Sort-sortBy Sort-sortBy_dec" href="?sort=reviews&type=ascending"
                {% else %} class="Sort-sortBy" href="?sort=reviews&type=ascending"{% endif %}>
                Отзывам
                </a>
                <a
                {% if request.GET.sort == 'new' and request.GET.type == 'ascending' %} class="Sort-sortBy Sort-sortBy_inc" href="?sort=new&type=descending"
                {% elif request.GET.sort == 'new' and request.GET.type == 'descending' %} class="Sort-sortBy Sort-sortBy_dec" href="?sort=new&type=ascending"
                {% else %} class="Sort-sortBy" href="?sort=new&type=ascending"{% endif %}>
                Новизне
                </a>
            </div>
          </div> {# /сортировка #}
          <div class="Cards"> {# карточки продуктов #}
          {% if object_list %}
            {% for product in object_list %}
              <div class="Card"><a class="Card-picture" href="{% url 'product_detail' product.product.slug %}"><img src={{ product.product.product_images.first.main_image.url }} alt="card.jpg"/></a>
                <div class="Card-content">
                  <strong class="Card-title"><a href="../app_goods/templates/app_goods/product.html">{{ product.product.category.all.0 }} {{ product.product.name }}</a>
                  </strong>
                  <div class="Card-description">
                    <div class="Card-cost">
                      <span class="Card-priceOld">{{ product.price }}</span>
                      <span class="Card-price">{{ product.get_discounted_price }}</span>
                    </div>
                    <div class="Card-category">{{ product.product.category.all.1 }} - {{ product.product.category.all.0 }}
                      </div>
                        <div class="Card-hover">
                          <a class="Card-btn" href="#"><img src={% static 'assets/img/icons/card/bookmark.svg' %} alt="bookmark.svg"/></a>

                            <form action="{% url 'cart_shop_add' product.product.slug %}" method="post">
                            {% csrf_token %}
                            {{ product.add_to_cart_form }}
                            <button type="submit" class="Card-btn">
                            <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                            </button>
                            </form>

                          <a class="Card-btn" href="#"><img src={% static 'assets/img/icons/card/change.svg' %} alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                  {% if product.product.discount.discount_value > 0 %}
                  <div class="Card-sale">-{{ product.product.discount.discount_value }}
                </div>
              {% endif %}
              </div>
            {% endfor %}
          {% else %} {% include 'empty_category.html' %} {% endif %}
          </div> {# /карточки продуктов #}
          {% if object_list.has_other_pages %} {# пагинация #}
          <div class="Pagination">
            <div class="Pagination-ins">
              {% if object_list.has_previous %}
                <a class="Pagination-element Pagination-element_prev" href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&type={{ request.GET.type }}&{% endif %}page={{ object_list.previous_page_number }}">
                <img src={% static 'assets/img/icons/prevPagination.svg' %} alt="prevPagination.svg"/></a>
                  {% endif %}
                    {% for page_number in object_list.paginator.page_range %}
                      {% if page_number > object_list.number|add:-2 and page_number < object_list.number|add:2 %}
                        {% if object_list.number == page_number %}
                          <a class="Pagination-element Pagination-element_current" href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&type={{ request.GET.type }}&{% endif %}page={{ page_number }}">
                          <span class="Pagination-text">{{ page_number }}</span></a>
                        {% else %}
                          <a class="Pagination-element" href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&type={{ request.GET.type }}&{% endif %}page={{ page_number }}">
                          <span class="Pagination-text">{{ page_number }}</span></a>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% if object_list.has_next %}
                   <a class="Pagination-element Pagination-element_prev" href="?{% if request.GET.sort %}sort={{ request.GET.sort }}&type={{ request.GET.type }}&{% endif %}page={{ object_list.next_page_number }}">
                   <img src={% static 'assets/img/icons/nextPagination.svg' %} alt="nextPagination.svg"/></a>
                 {% endif %}
                </div>
              </div>
            {% endif %} {# /пагинация #}
          </div>
        </div>
      </div>
  </div>
</body>
{% endblock %}