{% load static %}
<header class="Header">
    <div class="ControlPanel">
      <div class="wrap">
        <div class="row ControlPanel-row">
          <div class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block"><a class="ControlPanel-title" href="#">Free Delivery</a>
              </div>
              <div class="row-block hide_700"><span class="ControlPanel-title">Follow Us</span>
                <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                  <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'assets/img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'assets/img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'assets/img/icons/socialHeader/in.svg' %}" alt="in.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'assets/img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'assets/img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <nav class="row-block">
            <div class="row ControlPanel-rowSplit">
                <!--Доступ к профилю для авторизованного пользователя-->
                {% if request.user.is_authenticated %}
                <div class="row-block">
                    <a class="ControlPanel-title" href="account.html">{{ request.user.username }} /</a>
                    <a class="ControlPanel-title" href="account.html">Profile /</a>
                    <a class="ControlPanel-title" href="{% url 'logout' %}">Logout</a>
              </div>
                <!-- Вход или регистрация для неавторизованного пользователя-->
                {% else %}
              <div class="row-block"><a class="ControlPanel-title" href="{% url 'login' %}">Login /</a>
                  <a class="ControlPanel-title" href="{% url 'register' %}">Register</a>
              </div>
                {% endif %}
            </div>
          </nav>
        </div>
      </div>
      <!--+div.menuModal#navigate
      //    +menu([
      //        ['Главная','base.html'],
      //        ['Портфолио','base.html'],
      //        ['Мои проекты','base.html'],
      //        ['Контакты','base.html']
      //    ], page === 'article'? 'Портфолио': 'Главная')._main

      block
      -->
    </div>
    <div class="wrap">
      <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="base.html"><img class="logo-image" src="{% static 'assets/img/logo.png' %}" alt="logo.png"/></a>
        </div>
        <nav class="row-block row-block_right Header-menu">
          <div class="menuModal" id="navigate">
            <ul class="menu menu_main">
                <!-- Доступ к админке для администратора -->
                {% if request.user.is_staff %}
                {% url 'admin:index' as url_admin %}
                <li class="menu-item"><a class="menu-link" href="{{ url_admin }}">Admin</a>
              </li>
                {% endif %}
              <li class="menu-item"><a class="menu-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="menu-item"><span class="menu-label menu-label_danger">New</span>
                  <a class="menu-link" href="{% url 'products' %}">Shop</a>
              </li>
              <li class="menu-item"><a class="menu-link" href="#">Blog</a>
              </li>
              <li class="menu-item"><span class="menu-label menu-label_success">Hot</span>
                  <a class="menu-link" href="{% url 'products' %}">Gallery</a>
              </li>
              <li class="menu-item"><a class="menu-link" href="#">Contacts</a>
              </li>
              <li class="menu-item"><a class="menu-link" href="#">Purchase</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row-block">
          <div class="CartBlock"><a class="CartBlock-block" href="#"><img class="CartBlock-img" src="{% static 'assets/img/icons/exchange.svg' %}" alt="exchange.svg"/><span class="CartBlock-amount">4</span></a>
              {% with total_items=cart|length %}
              <a class="CartBlock-block" href="{% url 'cart_detail' %}"><img class="CartBlock-img" src="{% static 'assets/img/icons/cart.svg' %}" alt="cart.svg"/><span class="CartBlock-amount">{{ total_items }}</span></a>
            <div class="CartBlock-block"><span class="CartBlock-price">{{ cart.get_total_price }}</span>
            </div>
              {% endwith %}
          </div>
        </div>
        <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
            <div class="menuTrigger-content">Показать навигацию
            </div><span></span><span></span><span></span></a>
        </div>
      </div>
    </div>
    <div class="Header-searchWrap">
      <div class="wrap">
        <div class="Header-categories">
          <div class="CategoriesButton">
            <div class="CategoriesButton-title">
              <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}" alt="allDep.svg"/>
              </div><span class="CategoriesButton-text">All Departments</span>
              <div class="CategoriesButton-arrow">
              </div>
            </div>
              <div class="CategoriesButton-content">

              {% for category in categories %}

                  <div class="CategoriesButton-link"><a href="{% url 'catalog' category.id %}">
                      <div class="CategoriesButton-icon">
                      <img src="{{ category.category_icon.url }}" alt="icon.svg"/>
                      </div><span class="CategoriesButton-text">{{ category.name }}</span></a>

                      {% if category.sub.all.count > 0 %}
                      <a class="CategoriesButton-arrow" href="#"></a>
                      <div class="CategoriesButton-submenu">

                      {% for sub_category in category.sub.all %}
                      <a class="CategoriesButton-link" href="{% url 'catalog' sub_category.id %}">
                      <div class="CategoriesButton-icon">
                      <img src="{{ sub_category.category_icon.url }}" alt="icon.svg"/>
                      </div><span class="CategoriesButton-text">{{ sub_category.name }}</span></a>

              {% endfor %}</div>{% endif %}</div>{% endfor %}

            </div>
          </div>
        </div>
        <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
          <div class="search">
            <form class="form form_search" action="#" method="post">
              <input class="search-input" id="query" name="query" type="text" placeholder="What are you looking for ..."/>
              <button class="search-button" type="submit" name="search" id="search"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>