{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load cache %}
{% block content %}
<div class="Header-slider">
      <div class="Slider Slider_main">
        <div class="Slider-box">
          <div class="Slider-item">
            <div class="Slider-content">
              <div class="row">
                <div class="row-block">
                  <strong class="Slider-title">Mavic Pro<span class="text_primary"> 5</span>{% trans 'mini Drone' %}
                  </strong>
                  <div class="Slider-text">{% trans 'Get the best phone you ever seen with modern Windows OS plus 70' %}% {% trans 'Off this summer' %}.
                  </div>
                  <div class="Slider-footer"><a class="btn btn_primary" href="#">{% trans 'Get Started' %}</a>
                  </div>
                </div>
                <div class="row-block">
                  <div class="Slider-img"><img src="{% static 'assets/img/content/home/slider.png' %}" alt="slider.png"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Slider-item">
            <div class="Slider-content">
              <div class="row">
                <div class="row-block">
                  <strong class="Slider-title">Mavic Pro<span class="text_primary"> 5</span>{% trans 'mini Drone' %}
                  </strong>
                  <div class="Slider-text">{% trans 'Get the best phone you ever seen with modern Windows OS plus 70' %}% {% trans 'Off this summer' %}.
                  </div>
                  <div class="Slider-footer"><a class="btn btn_primary" href="#">{% trans 'Get Started' %}</a>
                  </div>
                </div>
                <div class="row-block">
                  <div class="Slider-img"><img src="{% static 'assets/img/content/home/slider.png' %}" alt="slider.png"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Slider-navigateWrap">
          <div class="Slider-navigate">
          </div>
        </div>
      </div>
    </div>
<div class="Middle">
    <div class="Section">
      <div class="wrap">

        <div class="BannersHome">
            {% if categories %}
                {% for category in categories|slice:":3" %}
                <a class="BannersHomeBlock" href="{% url 'catalog' category.id %}">
                <div class="BannersHomeBlock-row">
                  <div class="BannersHomeBlock-block">
                    <strong class="BannersHomeBlock-title">{{category.name}}
                    </strong>
                    <div class="BannersHomeBlock-content">{% trans 'from' %}&#32;
                        <span class="BannersHomeBlock-price">{{ category.get_min_price }} {% trans 'rub' %}.</span>
                    </div>
                  </div>
                  <div class="BannersHomeBlock-block">
                    <div class="BannersHomeBlock-img">
                        {% if category.category_image %}
                        <img src="{{ category.category_image.url }}" alt="category image"/>
                        {% endif %}
                    </div>
                  </div>
                </div></a>
                {% endfor %}
            {% else %} {% include 'empty_category.html' %}
            {% endif %}
        </div>

      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnDesktop">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <header class="Section-columnHeader">
              <strong class="Section-columnTitle">{% trans 'Limited Deals' %}
              </strong>
            </header>

{#          Lim Product #}
              {% if lim_products %}
              {% with lim_product=lim_products|random %}
              {% cache 86400 lim_product %}
                <div class="Card">
                <a class="Card-picture" href="{% url 'product_detail' lim_product.slug %}">
                {% if lim_product.product_images.main_image %}
                <img src="{{ lim_product.product_images.main_image.url }}" alt="card.jpg"/></a>
                {% else %}
                <a class="Cart-pict" href="{% url 'product_detail' lim_product.slug %}">
                <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card"/></a>
                {% endif %}
                <div class="Card-content">
                <strong class="Card-title">
                    <a href="{% url 'product_detail' lim_product.slug %}">{{ lim_product.name }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
                  {% if lim_product.discount.discount_value > 0 %}
                      <span class="Card-priceOld">{{ lim_product.get_avg_price|floatformat:2 }} {% trans 'rub' %}.</span>
                  {% endif %}
                    <span class="Card-price">{{ lim_product.get_avg_discounted_price|floatformat:2 }} {% trans 'rub' %}.</span>
                  </div>
                    {% for cat in lim_product.category.all %}
                  <div class="Card-category">{{ cat.name }}
                  </div>
                    {% endfor %}
                </div>
                <div class="CountDown" data-date="22.09.2023 03:59">
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-days">
                      </div><span class="CountDown-label">{% trans 'days' %}</span>
                    </div>
                  </div>
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-hours">
                      </div><span class="CountDown-label">{% trans 'hours' %}</span>
                    </div>
                  </div>
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-minutes">
                      </div><span class="CountDown-label">{% trans 'mins' %}</span>
                    </div>
                  </div>
                  <div class="CountDown-block">
                    <div class="CountDown-wrap">
                      <div class="CountDown-secs">
                      </div><span class="CountDown-label">{% trans 'secs' %}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endcache %}
              {% endwith %}
              {% else %}
                  {% include 'empty_category.html' %}
              {% endif %}
          </div>
        </div>

          <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">{% trans 'Popular Products' %}
            </h2>
          </header>

        {#Popular Products#}
          <div class="Cards">
          {% if popular_products %}
            {% for item in popular_products %}
            <div class="Card">
              {% if item.product_images.main_image %}
              <a class="Cart-pict" href="{% url 'product_detail' item.slug %}">
                <img class="Cart-img" src="{{ item.product_images.main_image.url }}" alt="card.jpg"/></a>
              {% else %}
              <a class="Cart-pict" href="{% url 'product_detail' item.slug %}">
                <img src="{% static 'assets/img/content/sale/product.png' %}" alt="product.png"/></a>
              {% endif %}
              <div class="Card-content">
                <strong class="Card-title"><a href="{% url 'product_detail' item.slug %}">{{ item.name }}</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost">
                    {% if item.discount.discount_value > 0 %}
                    <span class="Card-priceOld">{{ item.get_avg_price|floatformat:2 }} {% trans 'rub' %}.</span>
                    {% endif %}
                    <span class="Card-price">{{ item.get_avg_discounted_price|floatformat:2 }} {% trans 'rub' %}.</span>
                  </div>
                  {% for cat in item.category.all %}
                  <div class="Card-category">{{ cat.name }}
                  </div>
                  {% endfor %}
                  <div class="Card-hover">
                    <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/></a>
                      <a class="Card-btn" href="{% url 'cart_random_shop_add' item.slug %}">
                          <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>

<!--{#                      <form action="{% url 'cart_shop_add' item.slug %}" method="post">#}-->
<!--{#                          {% csrf_token %}#}-->
<!--{#                          {{ item.add_to_cart_form }}#}-->
<!--{#                          <button type="submit" class="Card-btn buy">#}-->
<!--{#                              <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>#}-->
<!--{#                          </button>#}-->
<!--{#                      </form>#}-->

                    <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/></a>
                  </div>

                </div>
              </div>
              {% if item.discount.discount_value > 0 %}
              <div class="Card-sale">-{{ item.discount.discount_value }}
              </div>
              {% endif %}
            </div>
            {% endfor %}
              {% else %}
              {% include 'empty_category.html' %}
          {% endif %}
          </div>
        </div>

      </div>
    </div>
    <div class="Section Section_dark">
      <div class="wrap">
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header">
              <h2 class="Section-title">{% trans 'Hot Offers' %}
              </h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>
            <div class="Slider-box Cards Cards_hz">
                {% if hot_offers %}
                    {% for item in hot_offers %}
              <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card">
                      {% if item.product_images.main_image %}
                        <a class="Cart-pict" href="{% url 'product_detail' item.slug %}">
                        <img class="Cart-img" src="{{ item.product_images.main_image.url }}" alt="card.jpg"/></a>
                        {% else %}
                        <a class="Cart-pict" href="{% url 'product_detail' item.slug %}">
                        <img src="{% static 'assets/img/content/sale/product.png' %}" alt="product.png"/></a>
                        {% endif %}

                      <div class="Card-content">
                      <strong class="Card-title"><a href="{% url 'product_detail' item.slug %}">{{ item.name }}</a>
                      </strong>
                      <div class="Card-description">

                        <div class="Card-cost">
                        {% if item.discount.discount_value > 0 %}
                        <span class="Card-priceOld">{{ item.get_avg_price|floatformat:2 }} {% trans 'rub' %}.</span>
                        {% endif %}
                        <span class="Card-price">{{ item.get_avg_discounted_price|floatformat:2 }} {% trans 'rub' %}.</span>
                        </div>
                        {% for cat in item.category.all %}
                        <div class="Card-category">{{ cat.name }}
                        </div>
                        {% endfor %}
                        <div class="Card-hover">
                            <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/></a>
                            <a class="Card-btn" href="{% url 'cart_random_shop_add' item.slug %}">
                                <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                            <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    {% if item.discount.discount_value > 0 %}
                    <div class="Card-sale">-{{ item.discount.discount_value }}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
                    {% endfor %}
                    {% else %}
                    {% include 'empty_category.html' %}
                {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Shipping' %} & {% trans 'Returns' %}
                </strong>
                <p class="media-text">{% trans 'World wide shipping' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Money Back' %}
                </strong>
                <p class="media-text">{% trans 'Guaranted payments' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/support.svg' %}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Support Policy' %}
                </strong>
                <p class="media-text">{% trans 'Fast support team' %}
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">{% trans 'Quality Guarantee' %}
                </strong>
                <p class="media-text">{% trans 'Best guaranteed items' %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header Section-header_close">
              <h2 class="Section-title">{% trans 'Limited edition' %}
              </h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>

{#          Limited Products#}
            <div class="Slider-box Cards">
                {% if lim_products %}
                {% if lim_products|length > 1 %}
                    {% for product in lim_products %}
                    <div class="Slider-item">
                        <div class="Slider-content">
                            <div class="Card">
                      {% if product.product_images.main_image %}
                      <a class="Card-pict" href="{% url 'product_detail' product.slug %}">
                          <img src="{{ product.product_images.main_image.url }}" alt="card.jpg"/></a>
                      {% else %}
                      <a class="Cart-pict" href="{% url 'product_detail' product.slug %}">
                          <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card"/></a>
                      {% endif %}
                    <div class="Card-content">
                      <strong class="Card-title"><a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">{{ product.get_avg_price|floatformat:2 }} руб.</span>
                            <span class="Card-price">{{ product.get_avg_discounted_price|floatformat:2 }} руб.</span>
                        </div>
                        {% for cat in product.category.all %}
                        <div class="Card-category">{{ cat.name }}
                        </div>
                        {% endfor %}
                       <div class="Card-hover">
                           <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/></a>
                           <a class="Card-btn" href="{% url 'cart_random_shop_add' product.slug %}">
                            <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                           <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    {% if product.discount.discount_value > 0 %}
                        <div class="Card-sale">-{{ product.discount.discount_value }}
                        </div>
                    {% endif %}
                  </div>
                </div>
              </div>
                {% endfor %}
                    {% else %}
                    <div class="Slider-item">
                <div class="Slider-content">
                  <div class="Card">
                      {% if lim_products.product_images.main_image %}
                      <a class="Card-pict" href="{% url 'product_detail' lim_products.slug %}">
                          <img src="{{ lim_products.product_images.main_image.url }}" alt="card.jpg"/></a>
                      {% else %}
                      <a class="Cart-pict" href="{% url 'product_detail' lim_products.slug %}">
                          <img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card"/></a>
                      {% endif %}
                    <div class="Card-content">
                      <strong class="Card-title">
                          <a href="{% url 'product_detail' lim_products.slug %}">{{ lim_products.name }}</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost"><span class="Card-priceOld">{{ lim_products.get_avg_price|floatformat:2 }} руб.</span>
                            <span class="Card-price">{{ lim_products.get_avg_discounted_price|floatformat:2 }} руб.</span>
                        </div>
                        {% for cat in lim_products.category.all %}
                        <div class="Card-category">{{ cat.name }}
                        </div>
                        {% endfor %}
                       <div class="Card-hover">
                           <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/bookmark.svg' %}" alt="bookmark.svg"/></a>
                           <a class="Card-btn" href="{% url 'cart_random_shop_add' lim_products.slug %}">
                            <img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg"/></a>
                           <a class="Card-btn" href="#"><img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg"/></a>
                        </div>
                      </div>
                    </div>
                    {% if lim_products.discount.discount_value > 0 %}
                        <div class="Card-sale">-{{ lim_products.discount.discount_value }}
                        </div>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
                {% else %}
                    {% include 'empty_category.html' %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
