{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<!--Order Full name-->
<div class="container p-4" style="padding-left: 50px;">
    <br>
    <h2 class="font-weight-bold mt-3" style="text-align: center;">{% trans 'Input the data' %}:</h2>
    <form method="post">
        {% csrf_token %}
        <br>
        <p>{% trans 'Username' %} - {{ user_form.username }}</p>
        <br>
        <p>{% trans 'First name' %} - {{ user_form.first_name }}</p>
        <br>
        <p>{% trans 'Last name' %} - {{ user_form.last_name }}</p>
        <br>
        <p>Email {{ user_form.email }}</p>
        <br>
        <p>{% trans 'Phone' %} {{ profile_form.phone_number }}</p>

        {% if not request.user.is_authenticated %}
        <p>{% trans 'Password' %} {{ user_form.password_1 }}</p>
        <br>
        <p>{% trans 'Confirm password' %} {{ user_form.password_2 }}</p>
        <br>
        <p><a href="{% url 'login' %}">{% trans 'I am already signed up' %}</a></p>
        {% endif %}

        <button class="btn btn-primary" style="border: solid 1px grey;">{% trans 'Next step' %}</button>
    </form>
</div>

{% endblock %}

<!--{% url 'order_delivery' %}-->
