{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<div class="container p-5">
    <br>
    <h2 class="font-weight-bold mt-3" style="text-align: center;">Password Reset Confirm</h2>
    <hr>
    <center>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </center>

</div>

{% endblock %}