{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block content %}
   <div>
       <p style="font-size: 14px;">Добавить товары файлом</p>
           <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
               <p>{{ file_form.file_field }}</p>
               <p style="font-size: 14px;">Отправить отчет на email</p>
               <p>{{ email_form.email }}</p>
               <button type="submit">Добавить товары</button>
           </form>
   </div>
    {{ block.super }}
{% endblock %}